* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to top left, #000000, #ffffff 150%); */
}

.hold-the-line {
    background-image: url("/assets/images/holdthelinebackground.jpg")
}

.mirror-mirror-on-the-board {
    background-image: url("/assets/images/MMotBbackground.png");
}

h1 {
   text-align: center;
   text: #000000;
   font-size: 50px;

   width:  75%;
   height: auto;

   background-color: #ffffff;

   border: #000000 solid;
   border-radius: 10px;
   padding: 0 10%;
   margin: .5% 12.5%;
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 0 .5% 0;
    border: #000000  2px solid;

    
}

.topnav a {
    border: #ffffff solid;
    padding: .5% 1%;
    border-radius: 10px;
    margin: 0 8%;
    
    background-color: #ffffff;
    
    float: left;


    color: #000000;
    font-weight: bold;
    
    text-decoration: none;
    text-align: center;
}

.topnav a.active {
    background-color: #000000;
    color: #ffffff;
}

.topnav a:hover {
    background-color: #696969;
    color: #ffffff;
}

article {
    width: 75%;
    height: auto;
    margin: 0 12.5%;

    padding: 10px;
    background-color: #ffffff;

    border: #000000, solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;

    display:inline-block;

    text-align: center;

    h2 {
        font-size: 40px;
        margin: .5%;
    }

    p {
        border: #000000 solid;
        border-radius: 10px;
        padding: 1%;
        font-size: 20px;
    }

    iframe {
        border: #000000 5px solid;
        border-radius: 10px;

        width: 80%;
        height: 800px;
        overflow: hidden;
    }
    
    
    .main-image {
        width: 80%;
        height: 800px;
        margin: 0 10% .5%;

        
        border: #000000 5px solid;
        border-radius: 10px;
    }

    .side-image-container {
        border: #000000 5px solid;
        margin: 0 0 1% 0;
        padding: 0;
    }

    .side-image {
        width: 20%;
    }

    .itch-button {
        border: #ff3657 solid;
        border-radius: 10px;
        padding: 0.25% .5%;
        background-color: #ff3657;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
    }

    .itch-button:hover {
        border: #ca2b46 solid;
        background-color: #ca2b46;
    }
}