* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to bottom right, #084e28, #000000 65% ); */
    /* background: #ffffff; */
    background: linear-gradient(to top left, #000000, #ffffff 150%);
}

h1 {
   text-align: center;
   text: #000000;
   font-size: 50px;

   width:  50%;
   height: auto;

   background-color: #ffffff;

   border: #000000 solid;
   border-radius: 10px;
   padding: 0 10%;
   margin: 0 25%;
}

h2 {
    font-size: 40px;
}

h3 {
    border: #000000 solid;
    border-radius: 10px;
    width: 15%;
    margin: 15px 42.5%;
}

main {
    padding: 0 10%;
}

article {
    width: 48%;
    height: auto;
    margin: 10px;

    transition-duration: 200ms;

    padding: 10px;
    background-color: #ffffff;

    border: #000000, solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;

    display:inline-block;

    text-align: center;
    p {
        font-size: 16px;
    }
    
    
    img {
        width: 100%;
        height: auto;
        padding: 5px 5px;
    }
}

#game-1 {
    img:hover {
        content: url(../images/AlienAbductorsGif.gif);
    }
    
}

#about-me {
    /* display: block; */
    display: grid;
    width: 97.5%;
    padding: 20%;
}

#tools-and-languages {
    display: grid;
    width: 97.5%;
    padding: 5%;
    
    img {
        width: auto;
        height: auto;
    }
}

article:hover {
    box-shadow: 20px 20px 20px #000000;
    width: 49%;
    height: auto;
}






