* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to bottom right, #084e28, #000000 65% ); */
    /* background: #ffffff; */
    background: linear-gradient(to top left, #000000, #ffffff 150%);
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 0 .5% 0;
    border: #000000  2px solid;
}

.topnav a {
    border: #ffffff solid;
    padding: .5% 1%;
    border-radius: 10px;
    margin: 0 8%;
    
    background-color: #ffffff;
    
    float: left;


    color: #000000;
    font-weight: bold;
    
    text-decoration: none;
    text-align: center;
}

.topnav a.active {
    background-color: #000000;
    color: #ffffff;
}

.topnav a:hover {
    background-color: #696969;
    color: #ffffff;
}

h1 {
   text-align: center;
   text: #000000;
   font-size: 50px;

   width:  50%;
   height: auto;

   background-color: #ffffff;

   border: #000000 solid;
   border-radius: 10px;
   padding: 0 10%;
   margin: 0 25%;
}

h2 {
    font-size: 40px;
}

h3 {
    border: #000000 solid;
    border-radius: 10px;
    width: 25%;
    margin: 15px 37.5%;
}

main {
    padding: 0 10%;
}

article {
    width: 47%;
    height: auto;
    margin: 10px;

    transition-duration: 200ms;

    padding: 10px;
    background-color: #ffffff;

    border: #000000, solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;

    display:inline-block;

    text-align: center;
    p {
        font-size: 17px;
    }
    
    
    img {
        width: 100%;
        height: auto;

        
        border: #000000 5px solid;
        border-radius: 10px;
    }
}

article:hover {
    box-shadow: 20px 20px 20px #000000;
    width: 48%;
    height: auto;
}

#game-1 {
    img:hover {
        content: url(../images/AlienAbductorsGif.gif);
    }
}

#game-3 {
    img:hover {
        content: url(../images/MMotBgameplay.gif);
    }
}

#about-me {
    /* display: block; */
    display: grid;
    width: 97.5%;
    padding: 20%;
}

#tools-and-languages {
    display: grid;
    width: 75%;
    padding: 5%;
    margin: 15px 12.5%;
    
    img {
        width: auto;
        height: auto;
        border: #ffffff 0px;
    }
}







